@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    text-align: center;
    background-image: url(./cadre.svg);
    background-repeat:no-repeat;
    background-position: center;

    background-position-y: 0rem;
    background-color: rgb(109, 28, 28);
    color: yellow;
    font-family: 'Courgette', cursive;
}
.photo{
    width: 25rem;
    height: 25rem;
    border-radius: 10rem;
}